@{
}

<h1>Über mich</h1>

<div>
    <h2>Wachstum durch Herausforderung</h2>
    <div class="text-justify hyphens">
        Diese Devise beschreibt mich wohl am besten. <br />
        Meine Faszination für Softwareentwicklung hatte ihren Ursprung im jugendlichen Wunsch, ein eigenes Videospiel zu entwickeln. <br />
        So eignete ich mir selbstständig die Grundlagen von C# an und baute diese fortwährend in diversen Projekten, so auch dieser Homepage, immer weiter aus.
        Sicherlich ist der Weg des Selbststudiums nicht immer einfach. Dennoch setze ich mir kontinuierlich höhere Ziele und verwende neue Technologien und Methoden, um weiter von Projekt zu Projekt zu wachsen.
        Herausforderungen treiben mich an und motivieren mich stetig zu lernen.
    </div>
</div>

<br />

<h2>Doch wer bin ich eigentlich?</h2>
<div class="text-justify hyphens">
    Ich bin Maximilian und arbeite derzeit im IT Recruiting eines mittelständischen Unternehmens am Standort Karlsruhe. <br />
    Studiert habe ich an der renommierten Hochschule Pforzheim und habe dort im Jahr 2019 meinen Bachelor im Bereich BWL mit Schwerpunkt Personalmanagement erworben.
    Neben der HR Erfahrung hatte ich auch im Studium zahlreiche Schnittstellen mit der IT.
    Meine Thesis zum Beispiel schrieb ich bei einem Unternehmen, welches sich auf IT-Lösungen für den öffentlichen Personennahverkehr spezialisiert hat und unterstützte dieses dabei, eine Social Collaboration Plattform erfolgreich einzuführen.
    Hierbei erarbeitete ich konkrete Handlungsempfehlungen für den notwendigen Change Prozess und wirkte in der Folge auch an der technischen Einführung mit. <br />
    Natürlich verbringe ich meine Freizeit gerne am PC, doch bin ich auch sportlich aktiv und als Torwart der sichere Rückhalt meiner Handballmannschaft.
</div>
<br />