@{
}

<h1>Kontakt</h1>

<div class="row">

    <div class="col-3 p-2">
        <a class="d-flex align-items-center contact-tile" href="https://github.com/Bananamafia" target="_blank" rel="noreferrer" alt="GitHub">
            <div class="container text-center">
                <i class="fab fa-github"></i>
                <div>GitHub</div>
            </div>
        </a>
    </div>

    <div class="col-3 p-2">
        <a class="d-flex align-items-center contact-tile" href="mailto:mail@maximiliankiefer.de" target="_blank" rel="noreferrer" alt="Mail">
            <div class="container text-center">
                <i class="far fa-envelope"></i>
                <div>Mail</div>
            </div>
        </a>
    </div>

    <div class="col-3 p-2">
        <a class="d-flex align-items-center contact-tile" href="https://www.xing.com/profile/Maximilian_Kiefer8/portfolio" target="_blank" rel="noreferrer" alt="Xing">
            <div class="container text-center">
                <i class="fab fa-xing"></i>
                <div>Xing</div>
            </div>
        </a>
    </div>

    <div class="col-3 p-2">
        <a class="d-flex align-items-center contact-tile" href="https://www.linkedin.com/in/maximilian-kiefer/" target="_blank" rel="noreferrer" alt="LinkedIn">
            <div class="container text-center">
                <i class="fab fa-linkedin"></i>
                <div>LinkedIn</div>
            </div>
        </a>
    </div>

</div>