#Contact {
    min-height: 0;
}

.contact-tile {
    text-align: center;
    border: solid;
    border-color: #17a2b8;
    border-radius: 0.3rem;
    padding:7.5%;
}

.contact-tile:hover{
    background-color:#17a2b8;
}

.contact-tile * {
    padding:0;
}

.contact-tile i{
    font-size:8vw;
}

.contact-tile div{
    font-size: 3vw;
}

a.contact-tile{
    text-decoration:none;
}

a.contact-tile:hover{
    color:white;
}