#Index{
    min-height:100vh;
    z-index:5;
}

#Index div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

#Index h1 {
    font-size: 5vw;
}

#Index h2 {
    font-size: 8.5vw;
}

.footer-background {
    width: 0;
    height: 0;
    border-bottom: 15vh solid white;
    border-left: 98vw solid transparent;
    opacity: 0.7;
}

.go-on-arrow {
    font-size: 9vh;
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    bottom: 3vh;
}

@keyframes MoveUpDown{
    0%, 100% {
        bottom: 3vh;
    }
    50% {
        bottom: 4vh;
    }
} 