#Index {
    min-height: 95vh;
    z-index: 5;
}


    /*#Index div.bg-info {
        background-color: #abbfcf*/ /*#a3bacc*/ /*!important;
    }*/

    #Index div {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
    }

    #Index img {
        position: absolute;
        top: 100vh;
        right: 42vw;
        height: 90vh;
        z-index: 1;
        margin-top: -90vh;
        opacity: 0.9
    }

    #Index h1 {
        font-size: 5vw;
        opacity: 0.7;
        z-index: 3;
    }

    #Index h2 {
        font-size: 8.5vw;
        opacity: 0.9;
        z-index: 3;
    }

.landing-headings {
    margin-top: -12vh;
}

.footer-background {
    width: 0;
    height: 0;
    z-index: 3;
    border-bottom: 10vh solid #e5ebf0; /*#b9e3e9;*/
    border-left: 98vw solid transparent;
    /*opacity: 0.7;*/
}

.go-on-arrow {
    font-size: 9vh;
    z-index: 4;
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    bottom: 3vh;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 3vh;
    }

    50% {
        bottom: 4vh;
    }
}
