.page-section {
    margin-bottom: 15px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: top 0.7s;
}

main {
    padding-top: 65px;
}

h2, .h2 {
    font-size: 1.5rem;
}

.hyphens {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

a {
    color: #abbfcf;
}

    a:hover {
        color: #138496;
    }

html {
    scroll-behavior: smooth;
}


/*Ovverride bootstrap Info Color*/
.bg-info {
    background-color: #abbfcf !important;
}

.btn-info {
    color: #fff;
    background-color: #abbfcf;
    border-color: #abbfcf;
}

    .btn-info:hover {
        color: #fff;
        background-color: #8c9dab;
        border-color: #8c9dab;
    }

a:hover {
    color: #8c9dab;
}

.text-info {
    color: #abbfcf !important;
}
