.portfolio-card {
    height: 240px;
    width: 160px;
    margin: 0 10px 20px 10px;
}

    .portfolio-card .card-img-overlay {
        padding: 0;
    }

    .portfolio-card h2 {
        color: black;
        font-family: Impact, 'Changa', sans-serif;
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    .portfolio-card h3 {
        color: grey;
        font-family: Impact, 'Changa', sans-serif;
        font-size: 0.85rem;
    }

.portfolio-card-footer-background {
    border-left: 162px solid white;
    border-top: 12px solid transparent;
    height: 25%;
    opacity: 0.8;
}

.portfolio-card-content {
}

/*Only if Device is not touch device*/
@media not all and (pointer: coarse) {
    .portfolio-card * {
        opacity: 0.77;
        -webkit-transition: opacity 0.25s, -webkit-transform 0.3s;
        transition: opacity 0.25s, transform 0.3s;
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
    }

    .portfolio-card:hover *:not(.portfolio-card-footer-background) {
        opacity: 1;
    }

    .portfolio-card:hover .portfolio-card-content {
        -webkit-transform: translate3d(0,0,0) scale(1.06);
        transform: translate3d(0,0,0) scale(1.06);
    }

    .scroll-arrow {
        opacity: 0;
    }
}


/*only Touch Devices*/
@media (pointer: coarse) {

    .portfolio-overview {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-bottom: 12px;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    ::-webkit-scrollbar-button {
        background-color: transparent;
    }

    ::-webkit-scrollbar:horizontal {
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: dimgrey; /*#abbfcf;*/
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: lightgray;
    }

    .scroll-arrow {
        position: relative;
        top: -26px;
        margin-bottom: -12px;
    }
}
