.project-card {
    position: relative;
    height: 255px;
    width: 170px;
    margin: 10px;
    opacity: 0.77;
    -webkit-transition: opacity 0.25s, -webkit-transform 0.3s;
    transition: opacity 0.25s, transform 0.3s;
}

    .project-card:hover {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0) scale(1.07);
        transform: translate3d(0,0,0) scale(1.07);
    }

.project-thumbnail {
    position: absolute;
    width: 100%;
    z-index: 10;
}


.project-status-ribbon {
    width: 170px;
    height: 255px;
    position: relative;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 20;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

    .ribbon span {
        font-size: 14.5px;
        font-weight: bold;
        color: #FFF;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: linear-gradient(#dc3545 0%, #c82333 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px;
        right: -21px;
    }

        .ribbon span::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 100%;
            z-index: -1;
            border-left: 3px solid #c82333;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #c82333;
        }

        .ribbon span::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right: 3px solid #c82333;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #c82333;
        }

.project-details-footer {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

    .project-details-footer .footer-bg {
        position: absolute;
        bottom: 0;
        border-left: 172px solid white;
        border-top: 12px solid transparent;
        height: 26%;
        opacity: 0.85;
    }

    .project-details-footer .project-details {
        position: absolute;
        margin: 10px 12px 7px 12px;
        bottom: 0;
    }

.project-details .project-title {
    color: black;
    font-family: 'Work Sans' /*, sans-serif*/;
    font-size: 1.3rem;
    margin-bottom: -6px;
}

.project-details .project-tech {
    color: dimgrey;
    font-family: 'Work Sans' /*, sans-serif*/;
    font-size: 0.8rem;
}
