.show-hide-skill-btn {
    width: 60%;
}

.skill-category {
    height: 100%;
    position: relative;
    border: solid;
    border-color: #abbfcf;
    border-radius: 0.3rem;
}

/*    .skill-category:hover {
        border: solid;
        background-color: #abbfcf;
        border-color: #abbfcf;
        color: white;
    }

        .skill-category:hover h2 {
            border-color: white
        }
*/

    .skill-category h2 {
        font-size: 23pt;
        margin-bottom: 12px;
        border-bottom: solid thin;
        border-color: #abbfcf
    }

    .skill-category span {
        font-size: 16pt;
    }
