.skill-category {
    height: 100%;
    position: relative;
    border: solid;
    border-color: #abbfcf;
    border-radius: 0.3rem;
}

    .skill-category h2 {
        font-size: 23pt;
        margin-bottom: 12px;
        border-bottom: solid thin;
        border-color: #abbfcf
    }