@page
@model PortfolioWebApp.Pages.Projects.OverviewModel
@{
    ViewData["Title"] = "Projektübersicht";
}

<head>
    <link rel="stylesheet" href="~/css/portfolioCards.css" />
</head>

<h1 class="mb-3">Projektübersicht</h1>


<div class="row">

    @foreach (var project in Model.ProjectList)
    {
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
            <a class="portfoliocard" href="~/Projects/ProjectDetails?Id=@project.Id">
                <div class="card border-0">
                    <img src=@project.Thumbnail class="card-img" />

                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <i id="circle"></i>
                    </div>

                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <div class="container text-center">
                            <h2 class="text-dark">@project.Title</h2>
                            <h2 class="text-secondary">@project.MainTechnology</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }

    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mb-4 ">
        <a class="portfoliocard ">
            <div class="card border-0">
                <img src="~/Images/Thumbnails/Thumbnail-Vorlage.png" class="card-img" />

                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h2 class="text-secondary text-center p-3" style="cursor:default">Weitere folgen...</h2>
                </div>
            </div>
        </a>
    </div>


</div>




