@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Datenschutz</title>
</head>

<body>
    <h1>Datenschutzerklärung</h1>
</body>
</html>
