@page
@{
    ViewData["Title"] = "Impressum";
}

<div class="m-5">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>
        Maximilian Kiefer<br />
        Breite Str. 80<br />
        76135 Karlsruhe
    </p>

    <h2>Kontakt</h2>
    <p>
        Telefon: +49 (0) 176 56 921 353<br />
        E-Mail: mail@maximiliankiefer.de
    </p>
</div>

<a class="btn btn-info" href="/Index">zurück</a>


