@{
}

<img src="~/Images/me.png" alt="Maximilian Kiefer" />

<div class="bg-info">

    <div class="d-flex align-items-center justify-content-end landing-headings">
        <h2 class="text-white">Maximilian Kiefer</h2>
        <h1 class="text-white">C# Softwareentwickler</h1>
    </div>

    <div class="d-flex justify-content-end align-items-end">
        <div class="footer-background"></div>
    </div>

    <div class="d-flex align-items-center justify-content-end">
        <a href="#AboutMe">
            <i class="fas fa-chevron-down text-white go-on-arrow"></i>
        </a>
    </div>

</div>