@model List<Models.Tool>


<h1>Mein Skillset</h1>

<div class="row">

    <div class="col-md-4 p-2">
        <div class="skill-category p-3">
            <h2 class="text-center">Dev</h2>
            <div>
                @foreach (var tool in Model.Where(n => n.Category == "Dev"))
                {
                    <partial name="/Pages/Shared/Partials/ToolPartials/_ToolRatingPartial.cshtml" model="tool" />
                }
            </div>
        </div>
    </div>

    <div class="col-md-4 p-2">
        <div class="skill-category p-3">
            <h2 class="text-center">Web</h2>
            <div>
                @foreach (var tool in Model.Where(n => n.Category == "Web"))
                {
                    <partial name="/Pages/Shared/Partials/ToolPartials/_ToolRatingPartial.cshtml" model="tool" />
                }
            </div>
        </div>
    </div>

    <div class="col-md-4 p-2">
        <div class="skill-category p-3">
            <h2 class="text-center">Sonstige</h2>
            <div>
                @foreach (var tool in Model.Where(n => n.Category == "Other"))
                {
                    <partial name="/Pages/Shared/Partials/ToolPartials/_ToolRatingPartial.cshtml" model="tool" />
                }
            </div>
        </div>
    </div>

</div>