@page
@model IndexModel
@{
}


<div id="Index" class="page-section">
    <partial name="/Pages/Shared/IndexPartials/_LandingPartial.cshtml" />
</div>

<div id="AboutMe" class="page-section pt-2">
    <partial name="/Pages/Shared/IndexPartials/_AboutMePartial.cshtml" />
</div>

<div id="ProjectOverview" class="page-section pt-2">
    <partial name="/Pages/Shared/IndexPartials/ProjectOverviewPartial.cshtml" model="@Model.MyProjects" />
</div>

<div id="ProjectOverview" class="page-section pt-2">
    <partial name="/Pages/Shared/IndexPartials/_ProjectOverviewPartial.cshtml" model="@Model.MyProjects" />
</div>

<div id="Skillset" class="page-section pt-2">
    <partial name="/Pages/Shared/IndexPartials/_ToolsetPartial.cshtml" model="@Model.MyTools" />
</div>

<div id="Contact" class="page-section pt-2">
    <partial name="/Pages/Shared/IndexPartials/_ContactPartial.cshtml" />
</div>
