<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maximilian Kiefer - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/logo.css" />
    <link rel="stylesheet" href="~/css/mySkill.css" />
    <link rel="stylesheet" href="~/css/portfolioCards.css" />
    <link rel="stylesheet" href="~/css/sideBar.css" />    
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
@*<body class="bg-dark text-white">*@
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><<text style="color:#4141b3">Maximilian</text> <text style="color:#8577d3">Kiefer</text>/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AboutMe">Über mich</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Projects/Overview">Projektübersicht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Skillset">Mein Skillset</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Maximilian Kiefer
            | <a asp-area="" asp-page="/Impressum">Impressum</a> | <a asp-area="" asp-page="/Datenschutz">Datenschutz</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <div class="side-bar-socialmedia d-flex justify-content-center">
        <div class="container">
            <a href="https://github.com/Bananamafia"><i class="fab fa-github"></i></a>
            <a href="mailto:maximilian.kiefer@yahoo.de"><i class="far fa-envelope"></i></a>
            <a href="https://www.xing.com/profile/Maximilian_Kiefer8/portfolio"><i class="fab fa-xing"></i></a>
            <a href="https://www.linkedin.com/in/maximilian-kiefer/"><i class="fab fa-linkedin"></i></a>
        </div>        
    </div>
</body>
</html>
