@page
@model PortfolioWebAppSinglePager.Pages.Admin.SkillSetModel
@{
}

<h3>Neues Tool hinzufügen</h3>

<form asp-page-handler="AddNewTool" method="post">


    <div class="form-group form-inline">
        <button type="submit" class="btn btn-info mr-3">+</button>

        <input type="text" asp-for="MyTool.Name" class="form-control mr-5" placeholder="Name des Tools" />

        <label class="mr-1">Kategorie:</label>
        <select asp-for="MyTool.Category" class="form-control mr-5">
            <option value="Other">Sonstige</option>
            <option value="Dev">Dev</option>
            <option value="Web">Web</option>
        </select>

        <div class="d-flex justify-content-start">
            <div class="mr-3">Basic</div>
            <input type="range" asp-for="MyTool.ToolRating" class="custom-range w-100" min="1" max="5" value="3">
            <div class="ml-3">Profi</div>
        </div>
    </div>


</form>

<h1>Alle Tools</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Kategorie</th>
            <th scope="col">Skill</th>
            <th scope="col">Bewertung</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var tool in Model.MyTools)
        {
            <tr>

                <td>@tool.Category</td>
                <td>@tool.Name</td>

                <td>
                    <div class="d-flex justify-content-start">
                        <div class="mr-3">Basic</div>
                        <input type="range" class="custom-range w-50" min="1" max="5" value="@tool.ToolRating">
                        <div class="ml-3">Profi</div>
                    </div>
                </td>

                <td>
                    <form method="post" asp-page-handler="DeleteTool">
                        <input type="hidden" asp-for="MyTool.Id" value="@tool.Id" />
                        <button class="close" type="submit">&times;</button>
                    </form>
                </td>

            </tr>
        }



    </tbody>
</table>

