<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Hallo, ich bin Maximilian Kiefer und die Softwareentwicklung ist meine Leidenschaft. Auf dieser Seite können Sie sich selbst von meinen Erfahrungen überzeugen!" />
    <title>@ViewData["Title"] Maximilian Kiefer | Softwareentwickler | Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layoutBasics.css" />
    <link rel="stylesheet" href="~/css/landingPage.css" />
    <link rel="stylesheet" href="~/css/portfolioCards.css" />
    <link rel="stylesheet" href="~/css/skillOverview.css" />
    <link rel="stylesheet" href="~/css/projectCards.css" />
    <link rel="stylesheet" href="~/css/projectDetails.css" />
    <link rel="stylesheet" href="~/css/contactSection.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar">
            <div class="container">
                <a class="navbar-brand" style="font-size:135%;" asp-area="" asp-page="/Index"><<text class="text-info">Maximilian</text> <text>Kiefer</text> /></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                            <a class="nav-link text-dark" href="/Index/#AboutMe" type="button">Über mich</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                            <a class="nav-link text-dark" href="/Index/#ProjectOverview">Projektübersicht</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                            <a class="nav-link text-dark" href="/Index/#Skillset">Skillset</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                            <a class="nav-link text-dark" href="/Index/#Contact">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Maximilian Kiefer
            | <a asp-area="" asp-page="/Legal/Impressum">Impressum</a> | <a asp-area="" asp-page="/Legal/Datenschutz">Datenschutz</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    <script src="~/js/mobileProjectOverview.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
