@page
@model PortfolioWebApp.Pages.AboutMeModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row mb-3">
    <img class="col-3 img-fluid" src="~/Images/me.jpg" />

    <div class="col-9">
        <h1>Wachstum durch Herausforderung</h1>
        <p>
            ist die Devise, die mich wohl am besten beschreibt. <br />
            Aus dem ursprünglichen Wunsch, ein eigenes Videospiel zu entwickeln, entstand meine Fazination für Softwareentwicklung. So kam es, dass ich mir selbstständig die Grundlagen von C# aneignete und diese anschließend in diversen Projekten weiter ausbaute (eines hiervon ist diese Homepage). <br />
            Man kann mit Nichten behaupten, dass der Weg des Selbststudiums immer einfach war. Und dennoch setzte ich mir kontinuierlich höhere Ziele, verwendete neue Technologien oder arbeitete mit andern Methoden, um so von Projekt zu Projekt über mich hinauszuwachsen.
        </p>
    </div>
</div>

<h1>Doch wer bin ich eigentlich?</h1>
<p>
    Ich bin Max, 24 Jahre jung und arbeite derzeit im IT Recruiting eines mittelständischen Unternehmens in Karlsruhe. <br />
    Zuvor habe ich an der Hochschule Pforzheim meinen Bachelor im Bereich BWL mit Schwerpunkt auf Personalmanagement absolviert. Neben den Erfahrungen in der HR, die ich bspw. auch während meines halbjährigen Praktikums im der Personalentwicklung sammeln konnte, hatte ich auch weitere Berührungspunkte mit der IT. <br />
    So unter anderem während meiner Thesis, die ich bei einem Unternehmen schrieb, das sich auf IT-Lösungen für den ÖPNV spezialisiert. Während der Thesis selbst konnte ich nicht nur den Change-Prozess einer Social Collaboration Plattform prägen, sondern auch dessen Einführung unter technischen Aspekten unterstützen. <br />
    Wenn ich in meiner Freizeit mal nicht am PC hänge, dann leiste ich meiner Mannschaft als Torwart im Handball den nötigen rückhalt.    
</p>