@page
@model IndexModel
@{
    ViewData["Title"] = "Über mich";
}

<div>
    <h1 class="display-4">Wir wachsen an neuen Herausforderungen</h1>
    <p>Und nur wer gewillt ist Neues zu lernen kann sich selbst auch weiter entwickeln.
    Heute treibt mich der permante Wille persönlicher Weiterentwicklung stetig an. 
    Aus dem Wunsch ein eigenes Computerspiel zu entwerfen, entstand die Begeisterung für die Programmierung.
    So kam es, dass ich mir selbstständig die Grundlagen von C# aneignete und diese in verschiedenen Projekten ausbaute.
    Mein Ziel besteht darin, von Projekt zu Projekt neue Sprachen, Technologien oder Prinzipien zu verwenden, um so an der Herausforderung zu wachsen.</p>

</div>