@page
@model IndexModel
@{
    ViewData["Title"] = "Über mich";
}


@*<img src="~/Images/me.jpg" style="position:fixed; left:0; top:0; height:100%; z-index:1; margin-top:65px"/>*@


<h1>Softwareentwickler aus Leidenschaft</h1>
<h2>Anwendungsentwicklung und Webdevelopment</h2>


<partial name="_AboutMePartial"/>