@page
@model PortfolioWebApp.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body class="bg-dark text-white">

        <div>
            <div class="ml-3">
                <h1 class="display-4 mb-0">Hier entsteht eine neue Webpräsenz</h1>
                <h5>Es würde mich freuen, wenn Sie es zu einem späteren Zeitpunkt noch einmal versuchen</h5>
            </div>


            <div class="m-5">
                <h5 class="text-danger">@Model.Message</h5>

                <form method="post">
                    <div class="form-group">
                        <input asp-for="UserName" placeholder="Nutzername" />
                    </div>

                    <div class="form-group">
                        <input asp-for="Password" placeholder="Passwort" />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-outline-light">Login</button>
                    </div>
                </form>
            </div>

        </div>
</body>
</html>
