@page
@model PortfolioWebApp.Pages.ToolsetModel
@{
    ViewData["Title"] = "Toolset";
}

<h1>Mein Toolset</h1>

@foreach (var categoryName in Model.ToolCategories)
{
    <h2>@categoryName</h2>

    <ul>
        @foreach (var tool in Model.MyTools)
        {
            if (tool.Category == categoryName)
            {
                <li>
                    <p>@tool.Name</p>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @(tool.SkillRating*10)%" aria-valuenow=@tool.SkillRating aria-valuemin="0" aria-valuemax="10"></div>
                    </div>

                </li>
            }
        }
    </ul>


}

